@import url('https://fonts.googleapis.com/css2?family=Isometra&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-logo: "Isometra", sans-serif;
}

@utility glass-panel {
  @apply backdrop-blur-lg border border-white/5 rounded-2xl shadow-2xl;
}

@utility analysis-result-box {
  @apply flex justify-between items-center glass-panel px-4 py-3 m-1
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes navbarDrop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes searchSlide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pageLoad {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.45;
  }
}

.animate-pulse {
  animation: pulse 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}